@import "tailwindcss";

:root {
  --foreground-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  overflow-x: hidden; /* جلوگیری از اسکرول افقی */
  -webkit-tap-highlight-color: transparent; /* حذف هایلایت آبی در موبایل */
}

/* اسکرول بار زیبا و باریک برای موبایل */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: #0f172a;
}
::-webkit-scrollbar-thumb {
  background: #334155;
  border-radius: 10px;
}

/* تنظیمات PDF */
@import "react-pdf/dist/Page/AnnotationLayer.css";
@import "react-pdf/dist/Page/TextLayer.css";